[*.cs]

# symbols
dotnet_naming_symbols.private_methods.applicable_kinds           = method
dotnet_naming_symbols.private_methods.applicable_accessibilities = private

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

# naming styles
dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_style.underscore_camel_case.capitalization	= camel_case
dotnet_naming_style.underscore_camel_case.required_prefix	= _

# naming rules
dotnet_naming_rule.private_methods_camel_case.symbols = private_methods
dotnet_naming_rule.private_methods_camel_case.style    = camel_case_style
dotnet_naming_rule.private_methods_camel_case.severity = suggestion

dotnet_naming_rule.private_fields_underscore_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_underscore_camel_case.style    = underscore_camel_case
dotnet_naming_rule.private_fields_underscore_camel_case.severity = suggestion



dotnet_diagnostic.IDE0003.severity = suggestion
dotnet_diagnostic.CA1825.severity = none
